
#left_menu{
	width: 244px;
	height: 100%;
	position: absolute;
	top: 0;
	overflow: hidden;
	padding-right: 6px;
}

#left_menu .inner {
	background: url(../images/ui/common/wood.png) fixed;
	width: 100%;
	height: 100%;
}

#tabstrip {
	width: 44px;
	height: 100%;
	background-image: url(../images/ui/topbar/top_60x38.png), url(../images/ui/tabstrip/vertical_tab_bg.png);
	background-position: 9px 0, 0 0;
  	background-repeat: no-repeat, repeat;
	position: absolute;
	right: 6px;
  	top: 0;
	padding: 60px 0 0 0;
}

#tabstrip li {
	background: url(../images/ui/common/wood.png) fixed;
}

#tabstrip li div {
	margin-right: -6px;
	background-image: url(../images/ui/tabstrip/vertical_tabstrip_unselected.png);
}

#tabstrip .selected div {
	background-image: url(../images/ui/tabstrip/vertical_tabstrip_selected.png);
}

#tabstrip .selected .middle {
	cursor: default;
}

#tabstrip li .top {
	background-position: -50px;
	height: 17px;
}

#tabstrip li .middle {
	min-height: 30px;
	color: white;
	cursor: pointer;
}

#tabstrip li .bottom {
	background-position: -100px;
	height: 17px;
}

#tabstrip li div .icon {
	margin-left: 6px;
	width: 40px;
	height: 40px;
	background: url(../images/ui/tabstrip/icons_240x80.png) no-repeat;
}


#tabstrip .tab_rome div .icon {
	background-position: 0 -40px
}
#tabstrip .tab_rome div .icon:hover, #tabstrip .tab_rome.selected div .icon {
	background-position: 0 0;
}

#tabstrip .tab_helle div .icon {
	background-position: -40px -40px;
}
#tabstrip .tab_helle div .icon:hover, #tabstrip .tab_helle.selected div .icon {
	background-position: -40px 0;
}

#tabstrip .tab_kart div .icon {
	background-position: -80px  -40px ;
}
#tabstrip .tab_kart div .icon:hover, #tabstrip .tab_kart.selected div .icon {
	background-position: -80px 0;
}

#tabstrip .tab_iber div .icon {
	background-position: -120px -40px;
}
#tabstrip .tab_iber div .icon:hover, #tabstrip .tab_iber.selected div .icon {
	background-position: -120px 0;
}

#tabstrip .tab_pers div .icon {
	background-position: -160px -40px;
}
#tabstrip .tab_pers div .icon:hover, #tabstrip .tab_pers.selected div .icon {
	background-position: -160px 0;
}

#tabstrip .tab_maur div .icon {
	background-position: -200px -40px;
}
#tabstrip .tab_maur div .icon:hover, #tabstrip .tab_maur.selected div .icon {
	background-position: -200px 0;
}

#tabstrip .tab_gaia div .icon {
	background-position: -240px -40px;
}
#tabstrip .tab_gaia div .icon:hover, #tabstrip .tab_gaia.selected div .icon {
	background-position: -240px 0;
}


.structures_scroll {
	width: 100%;
	height: 32px;
	position: absolute;
	right: 49px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.structures_scroll div.arrow {
	height: 20px;
	width: 101px;
	margin: 4px 0 0 94px;
	cursor: pointer;
}

.structures_scroll div.arrow:hover {
	background-position: -101px 0;
}


#structures_scroll_up {
	top: 0px;
	background: url(../images/ui/tabstrip/arrow_bg_1x64.png) repeat-x;
}

#structures_scroll_up div.arrow {
	background-image: url(../images/ui/tabstrip/arrow_up_202x21.png);
}

#structures_scroll_down {
	background: url(../images/ui/tabstrip/arrow_bg_1x64.png) repeat-x 0 -32px;
	bottom: 0;
}

#structures_scroll_down div.arrow {
	background-image: url(../images/ui/tabstrip/arrow_down_202x21.png);
}

#structures {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	width: 200px;
	overflow: hidden;
	position: relative;
}

#structures li {
	width: 150px;
	height: 100px;
	margin-left: 25px;
	margin-top: 25px;
	background: #000000 url(../images/ui/icons/box300x100.png);
	cursor: pointer;
	opacity: 0.8;
}

#structures li.selected {
	opacity: 1;
	background-position: -150px 0;
}

#structures li div {
	width: 150px;
	height: 100px;
	background-size: 100% 100%;
}

#structures li:hover {
	opacity: 1 !important;
}

#structures .disabled {
	opacity: .5;
}

#structures li.disabled:hover {
	opacity: .5 !important;
}

div.structure_infobox {
	width: 100px;
	min-height: 20px;
	padding: 0;
	left: 190px;
}

.structure_infobox h2 {
	background-image: url(../images/ui/common/steel.png);
	padding-left: 4px;
}

.structure_infobox li {
	background-color: rgba(0, 0, 0, .5);
	padding: 2px;
	margin: 1px;
}

.structure_infobox li span {
	float: right;
	padding-right: 20px;
	background: no-repeat right 0;
}

.structure_infobox .insufficient {
	color: #950009;
}

.structure_infobox h3 {
	margin: 0;
	font-size: 10pt;
	padding: 3px 0 0 6px;
}

.structure_infobox .left {
	width: 50%;
	float: left;
}

.structure_infobox .right {
	width: 50%;
	float: right;
}

/** Icons */
.structure_infobox li.wood span {
	background-image: url(../images/ui/topbar/resources/wood_small.png);
}

.structure_infobox li.food span {
	background-image: url(../images/ui/topbar/resources/food_small.png);
}

.structure_infobox li.stone span {
	background-image: url(../images/ui/topbar/resources/stone_small.png);
}

.structure_infobox  li.metal span {
	background-image: url(../images/ui/topbar/resources/metal_small.png);
}

.structure_infobox li.time span{
	background-image: url(../images/ui/topbar/resources/time_small.png);
}

.structure_infobox li.safety span{
	background-image: url(../images/ui/topbar/resources/safety_small.png);
}

.structure_infobox li.health span{
	background-image: url(../images/ui/topbar/resources/health_small.png);
}

.structure_infobox  li.knowledge span {
	background-image: url(../images/ui/topbar/resources/knowledge_small.png);
}

.structure_infobox li.culture span {
	background-image: url(../images/ui/topbar/resources/culture_small.png);
}

.structure_infobox li.economy span{
	background-image: url(../images/ui/topbar/resources/economy_small.png);
}

.structure_infobox li.peace span{
	background-image: url(../images/ui/topbar/resources/peace_small.png);
}

.structure_infobox li.diplomacy span{
	background-image: url(../images/ui/topbar/resources/diplomacy_small.png);
}
.structure_infobox li.spirituality span{
	background-image: url(../images/ui/topbar/resources/spirituality_small.png);
}
