/*<-- Hellenes icons -->*/
.structureicon.hele_house {
	background-image: url(../images/ui/icons/hele/house.png);
}
.structureicon.hele_farm {
	background-image: url(../images/ui/icons/hele/farm.png);
}
.structureicon.hele_corral {
	background-image: url(../images/ui/icons/hele/corral.png);
}
.structureicon.hele_storehouse {
	background-image: url(../images/ui/icons/hele/storehouse.png);
}
.structureicon.hele_barracks {
	background-image: url(../images/ui/icons/hele/barracks.png);
}
.structureicon.hele_blacksmith {
	background-image: url(../images/ui/icons/hele/blacksmith.png);
}
.structureicon.hele_civic {
	background-image: url(../images/ui/icons/hele/civic.png);
}
.structureicon.hele_tower {
	background-image: url(../images/ui/icons/hele/tower.png);
}
.structureicon.hele_fortress {
	background-image: url(../images/ui/icons/hele/fortress.png);
}
.structureicon.hele_temple {
	background-image: url(../images/ui/icons/hele/temple.png);
}

/*<-- Iberian icons -->*/
.structureicon.iber_house {
	background-image: url(../images/ui/icons/iber/house.png);
}
.structureicon.iber_farm {
	background-image: url(../images/ui/icons/iber/farm.png);
}
.structureicon.iber_corral {
	background-image: url(../images/ui/icons/iber/corral.png);
}
.structureicon.iber_storehouse {
	background-image: url(../images/ui/icons/iber/storehouse.png);
}
.structureicon.iber_barracks {
	background-image: url(../images/ui/icons/iber/barracks.png);
}
.structureicon.iber_blacksmith {
	background-image: url(../images/ui/icons/iber/blacksmith.png);
}
.structureicon.iber_civic {
	background-image: url(../images/ui/icons/iber/civic.png);
}
.structureicon.iber_tower {
	background-image: url(../images/ui/icons/iber/tower.png);
}
.structureicon.iber_fortress {
	background-image: url(../images/ui/icons/iber/fortress.png);
}
.structureicon.iber_temple {
	background-image: url(../images/ui/icons/iber/temple.png);
}

/*<-- Roman icons -->*/
.structureicon.rome_house {
	background-image: url(../images/ui/icons/rome/house.png);
}
.structureicon.rome_farm {
	background-image: url(../images/ui/icons/rome/farm.png);
}
.structureicon.rome_corral {
	background-image: url(../images/ui/icons/rome/corral.png);
}
.structureicon.rome_storehouse {
	background-image: url(../images/ui/icons/rome/storehouse.png);
}
.structureicon.rome_barracks {
	background-image: url(../images/ui/icons/rome/barracks.png);
}
.structureicon.rome_blacksmith {
	background-image: url(../images/ui/icons/rome/blacksmith.png);
}
.structureicon.rome_civic {
	background-image: url(../images/ui/icons/rome/civic.png);
}
.structureicon.rome_tower {
	background-image: url(../images/ui/icons/rome/tower.png);
}
.structureicon.rome_fortress {
	background-image: url(../images/ui/icons/rome/fortress.png);
}
.structureicon.rome_temple {
	background-image: url(../images/ui/icons/rome/temple.png);
}

/*<-- Carthagenian icons -->*/
.structureicon.kart_house {
	background-image: url(../images/ui/icons/kart/house.png);
}
.structureicon.kart_farm {
	background-image: url(../images/ui/icons/kart/farm.png);
}
.structureicon.kart_corral {
	background-image: url(../images/ui/icons/kart/corral.png);
}
.structureicon.kart_storehouse {
	background-image: url(../images/ui/icons/kart/storehouse.png);
}
.structureicon.kart_barracks {
	background-image: url(../images/ui/icons/kart/barracks.png);
}
.structureicon.kart_blacksmith {
	background-image: url(../images/ui/icons/kart/blacksmith.png);
}
.structureicon.kart_civic {
	background-image: url(../images/ui/icons/kart/civic.png);
}
.structureicon.kart_tower {
	background-image: url(../images/ui/icons/kart/tower.png);
}
.structureicon.kart_fortress {
	background-image: url(../images/ui/icons/kart/fortress.png);
}
.structureicon.kart_temple {
	background-image: url(../images/ui/icons/kart/temple.png);
}

/*<-- Persian icons -->*/
.structureicon.pers_house {
	background-image: url(../images/ui/icons/pers/house.png);
}
.structureicon.pers_farm {
	background-image: url(../images/ui/icons/pers/farm.png);
}
.structureicon.pers_corral {
	background-image: url(../images/ui/icons/pers/corral.png);
}
.structureicon.pers_storehouse {
	background-image: url(../images/ui/icons/pers/storehouse.png);
}
.structureicon.pers_barracks {
	background-image: url(../images/ui/icons/pers/barracks.png);
}
.structureicon.pers_blacksmith {
	background-image: url(../images/ui/icons/pers/blacksmith.png);
}
.structureicon.pers_civic {
	background-image: url(../images/ui/icons/pers/civic.png);
}
.structureicon.pers_tower {
	background-image: url(../images/ui/icons/pers/tower.png);
}
.structureicon.pers_fortress {
	background-image: url(../images/ui/icons/pers/fortress.png);
}
.structureicon.pers_temple {
	background-image: url(../images/ui/icons/pers/temple.png);
}

/*<-- Gaia icons -->*/
.structureicon.gaia_aleppo_pine {
	background-image: url(../images/ui/icons/gaia/aleppo_pine.png);
}
.structureicon.flag {
	background-image: url(../images/flag/flag-icon.png);
}
