.product_barley {
	background-image: url(../images/ui/products/barley.png);
}
.product_bread {
	background-image: url(../images/ui/products/bread.png);
}
.product_clay {
	background-image: url(../images/ui/products/clay.png);
}
.product_flour {
	background-image: url(../images/ui/products/flour.png);
}
.product_grapes {
	background-image: url(../images/ui/products/grapes.png );
}
.product_greek_toga {
	background-image: url(../images/ui/products/greek_toga.png);
}
.product_hop {
	background-image: url(../images/ui/products/hop.png);
}
.product_persian_carpets {
	background-image: url(../images/ui/products/persian_carpets.png);
}
.product_roman_tunic {
	background-image: url(../images/ui/products/roman_tunic.png);
}
.product_simple_plate {
	background-image: url(../images/ui/products/simple_plate.png);
}
.product_vase {
	background-image: url(../images/ui/products/vase.png);
}
.product_wine {
	background-image: url(../images/ui/products/wine.png);
}
.product_wool {
	background-image: url(../images/ui/products/wool.png);
}
.product_wood {
	background-image: url(../images/ui/products/wood.png);
}
.product_yeast {
	background-image: url(../images/ui/products/yeast.png);
}
