#topbar {
	height: 38px;
	position: absolute;
	top: 0;
	left: 244px;
	background: url(../images/ui/topbar/top_60x38.png);
	width: 100%;
}

#topbar .inner {

}

#topbar #resources {
	margin-left: -250px;
	width: 100%;
}

#topbar .inner {
	margin: 11px 0 0 250px;
}

#topbar #resources li {
	border: 1px solid #726c5a;
	border-bottom-color: #595548;
	border-left-color: #595548;

	background: rgba(0, 0, 0, .5) no-repeat 4px 2px;
	color: #faffbb;
	float: right;
	padding: 1px 10px 2px 32px;
	margin: 2px 0 0 5px;
	min-width: 40px;
	text-align: right;
}

#topbar #resources li.citizens {
	float: left;
	background-image: url(../images/ui/topbar/resources/citizens_small.png);
}


#topbar #resources li.wood {
	background-image: url(../images/ui/topbar/resources/wood_small.png);
}

#topbar #resources li.food {
	background-image: url(../images/ui/topbar/resources/food_small.png);
}

#topbar #resources li.metal {
	background-image: url(../images/ui/topbar/resources/metal_small.png);
}

#topbar #resources li.stone {
	background-image: url(../images/ui/topbar/resources/stone_small.png);
}
