body {
	font-family: 'Terminal Dosis', Arial, sans-serif;
	font-size: 21px;
}

a {
	text-decoration: none;
}

.clr {
	clear: both;
}

.flex {
	display: flex;
}

.select-style {
    position: relative;
    font-size: 90%;
}



/**********************INDEX*****************/
#root {
	max-width: 100%;
	margin: 0 auto;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow-y: auto;
	overflow-x: hidden;
	background-color: #D8D8D8;
	float: left;
	display: flex;
}

.lineH {
	background: #556270;
	height: 5px;
	margin-bottom: 3%;
	margin-top: 0.5%;
}

/*menu*/

#menu{
	display: block;
	width: 15%;
	margin-top: 2%;
	margin-left: 1%;
	margin-bottom: auto;
	height: 100%;
}

#menu .menu-wrapper {
	position: fixed;
	width: inherit;
	height: inherit;
}

#menu .menu-tab {
	width: 100%;
	border-right: solid 8px #556270;
	margin-top: 3%;
	margin-bottom: 5%;
}

#menu .menu-tab a {
	display: flex;
	padding: 3%;
}

#menu .tab-icon {
	background-color: #556270;
	width: 30%;
	border-radius: 3px;
	text-align: center;
}

#menu .tab-icon i {
	color: #D8D8D8;
}


#menu .tab-content {
	margin: 0 auto;
	color: #2A363B;
	text-align: center;
}

#menu .tab-main {
	position: relative;
	margin-top: 10%;
	opacity: 0.8;
	font-weight: bold;
}

#menu .menu-tab:hover .tab-icon{
	background-color: #64CCE4;
}

#menu .menu-tab:hover {
	border-right: solid 8px #64CCE4;
}

#menu .menu-tab:hover a .tab-content{
	color: #64CCE4;
}

#menu .menu-tab:hover .tab-icon i {
	color: #2A363B;
}

/*content*/

#content {
	width: 85%;
	margin-right: 7%;
	margin-top: 2%;
	margin-left: 5%;
	margin-bottom: auto;
}

@media only screen and (min-width: 1201px) and (max-width: 1800px) {
	#history #itens-area #item .item-content .a {
		margin-bottom: 15%;
	}
}

@media only screen and (max-width: 1200px)  {
	body {
		font-size: 100%;
	}

	#content {
		margin: 2% 7% auto 10%;
	}

	/*******Menu*********/
	#menu .menu-tab a {
		display: block;
		text-align: center;
	}

	#menu .tab-main {
		margin-top: 8%;
	}

	#menu .tab-icon {
		padding: 12% 3% 5%;
	}

}

