body {
	font-family: 'Lato', sans-serif;
	font-size: 20px;
}

a {
	text-decoration: none;
}

.clr {
	clear: both;
}



/**********************INDEX*****************/
#root {
	max-width: 100%;
	margin: 0 auto;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow-y: auto;
	overflow-x: hidden;
	background-color: #CCCCCC;
	float: left;
	display: flex;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
}

/*menu*/

#menu{
	display: block;
	width: 20%;
	margin-top: 2%;
	margin-left: 5%;
	margin-bottom: auto;
	height: 100%;
}

#menu .menu-tab {
	width: 100%;
	border-right: solid 8px #C7F464;
	margin-bottom: 3%;
}

#menu .menu-tab a {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

#menu .tab-icon {
	background-color: #C7F464;
	display: block;
	width: 40%;
	min-width: 43px;
	min-height: 43px;
	height: inherit;
	text-align: center;
	margin: 0 auto;
}

#menu .tab-icon .icon-img {
	font-family: 'Entypo';
	font-size: 70px;
	color: #556270;
}


#menu .tab-content {
	margin: 0 auto;
	margin-top: 5%;
	color: #556270;
	width: 60%;
	text-align: center;
}

#menu .menu-tab:hover .tab-icon{
	background-color: #FF6B6B;
}

#menu .menu-tab:hover {
	border-right: solid 8px #FF6B6B;
}

#menu .menu-tab:hover a .tab-content{
	color: #FF6B6B;
}

/*content*/

#content {
	width: 80%;
	margin-right: 7%;
	margin-top: 2%;
	margin-left: 5%;
	margin-bottom: auto;
}




/**********************Assign Citizens*****************/

.description {
	width: 100%;
}

.description h1{
	font-style: uppercase;
	font-size: 25px;
}

.status-content {
	width: 100%;
	display: inline-block;
}

.status-content p {
	font-size: 16px;
}
.status-content #province {
	width: 33.3333333%;
}
.status-content #student {
	width: 33.3333333%;
}
.status-content #assignment {
	width: 33.3333333%;
}



@media only screen and (max-width: 1000px)  {
	body {
		font-size: 100%;
	}

	#menu .menu-tab a {
		display: block;
		text-align: center;
	}
}


