<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
  "-//Hibernate/Hibernate Configuration DTD//EN"
  "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/utopolis</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password"></property>
		<property name="connection.pool_size">1</property>
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="current_session_context_class">thread</property>
		<property name="hibernate.cache.use_query_cache">false</property>
		<property name="hibernate.cache.use_second_level_cache">false</property>
		<property name="hibernate.hbm2ddl.auto">create</property>
		<property name="show_sql">true</property>
		<!-- Transaction isolation 2 = READ_COMMITTED -->
		<property name="connection.isolation">4</property>
		<property name="connection.autocommit">true</property>
		<!-- configuration pool via c3p0 -->
		<property name="c3p0.acquire_increment">1</property>
		<property name="c3p0.idle_test_period">3600</property> <!-- seconds -->
		<property name="c3p0.max_size">1</property>
		<property name="c3p0.max_statements">0</property>
		<property name="c3p0.min_size">1</property>
		<property name="c3p0.timeout">3605</property> <!-- seconds -->
		<property name="hibernate.c3p0.preferredTestQuery">select 1;</property>
		<mapping class="nl.tudelft.bsg.utopolis.server.model.Player"/>
		<mapping class="nl.tudelft.bsg.utopolis.server.model.Structure"/>
		<mapping class="nl.tudelft.bsg.utopolis.server.model.City"/>
		<mapping class="nl.tudelft.bsg.utopolis.server.model.KeyPerformanceIndicators"/>
		<mapping class="nl.tudelft.bsg.utopolis.server.model.Medals"/>
		<mapping class="nl.tudelft.bsg.utopolis.server.model.Province"/>
		<mapping class="nl.tudelft.bsg.utopolis.server.model.Message"/>
		<mapping class="nl.tudelft.bsg.utopolis.server.model.Resources"/>
		
	</session-factory>
</hibernate-configuration>